body{
    background: url("img/Vader\ Deflect\ by\ Z-studios\ on\ DeviantArt.gif") no-repeat center center fixed;   
      -webkit-background-size: cover;    
       -moz-background-size: cover;    
      -o-background-size: cover;    
     background-size: cover;
}
